/* Stil pentru carduri */
.products-grid {
    display: flex; /* Le pune unul lângă altul */
    gap: 30px; 
    justify-content: center; /* Centrează cardurile pe pagină */
}

/* Stilul de bază, comun pentru TOATE cardurile */
.product-card {
    background-color: white;
    box-shadow: 0 4px 8px green;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    display: flex;
    flex-direction: column; /* Aliniaza elementele pe verticala */
}

/* Stil pentru imaginile din carduri */
.product-card img {
    max-width: 100%; /* Imaginea nu va iesi din card */
    height: auto;
    border-radius: 4px;
}

.product-card .price {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.product-card .description {
    color: #666;
    font-size: 14px;
    flex-grow: 1; 
}

.product-card button {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px; /* Spațiu între descriere și buton */
    width: 100%; /* Butonul ocupă toată lățimea */
}
.product-card button:hover {
    background-color: #2980b9;
}


/* Stil pentru sidebar */
.slidebar {
    margin-top: 40px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
}